table {
    table-layout: fixed;
    width: 100%;
}

.table-report {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    font-size: .9rem;
    font-weight: normal;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .9rem;
}

th[scope="row"] {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 1;
}
